/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Service ###
rich-config-service/target/
rich-eureka-service/target/
rich-gateway-service/target/
rich-auth-service/target/
rich-module/rich-base-info-service/target/
rich-module/rich-code-generator/target/
