/* Login */
body,html {
    height: 100%;
    background-color: #f2f2f2;
}

.layui-layout-body {
    overflow: auto;
    height: 100%;
}

.user-display-show {
    display: block!important
}

.user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 180px 0;
    min-height: 100%;
    box-sizing: border-box;
}

.user-login-main {
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(9,41,77,.25);
    box-shadow: 0 0 0.5rem 0 rgba(9,41,77,.25);
    width: 475px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 20px;
}

.user-login-box {
    padding: 20px
}

.user-login-header {
    text-align: center
}

.user-login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    color: #000
}

.user-login-header p {
    font-weight: 300;
    color: #999
}

.user-login-body .layui-form-item {
    position: relative
}

.user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2
}

.user-login-body .layui-form-item .layui-input {
    padding-left: 38px
}

.user-login-codeimg {
    max-height: 38px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box
}

.user-login-other {
    position: relative;
    font-size: 0;
    line-height: 38px;
    padding-top: 20px
}

.user-login-other>* {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px
}

.user-login-other .layui-icon {
    position: relative;
    top: 2px;
    font-size: 26px
}

.user-login-other a:hover {
    opacity: .8
}

.user-jump-change {
    float: right
}

.user-login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0,0,0,.5)
}

.user-login-footer span {
    padding: 0 5px
}

.user-login-footer a {
    padding: 0 5px;
    color: rgba(0,0,0,.5)
}

.user-login-footer a:hover {
    color: rgba(0,0,0,1)
}

.user-login-main[bgimg] {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.05)
}

.user-login-theme {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center
}

.user-login-theme ul {
    display: inline-block;
    padding: 5px;
    background-color: #fff
}

.user-login-theme ul li {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 43px;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    background-color: #f2f2f2
}

.user-login-theme ul li:hover {
    opacity: .9
}
.user-link{
    color: #1E9FFF;
}
.user-login-error{
    margin-bottom:10px;
    padding:10px;
    line-height:16px;
    border-radius:0 2px 2px 0;
    background-color:#f2f2f2;
    font-size: 12px;
}
.user-login-error-close{
    cursor: pointer;
    float: right;
}

@media screen and (max-width: 768px) {
    .user-login {
        padding-top:60px
    }

    .user-login-main {
        width: 100%
    }

    .user-login-box {
        padding: 10px
    }
}
/* Login */

/* AUTHORIZE */
.authorize{
    position: relative;
    left: 0;
    top: 0;
    padding: 210px 0;
    min-height: 100%;
    box-sizing: border-box;
}
.authorize-main{
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(9,41,77,.25);
    box-shadow: 0 0 0.5rem 0 rgba(9,41,77,.25);
    width: 430px;
    margin: 0 auto;
    box-sizing: border-box
}
.authorize-card-header{
    font-size: 20px;
    padding: 15px;
}
.authorize-form{
    word-wrap: break-word;
    word-break: normal;
}
.authorize-checkbox{
    width: 450px;
}
.authorize-content{
    padding-bottom: 25px;
}
.error-again{
    margin-top: 15px;
}
/* AUTHORIZE */

/* ERROR */
.error-tips {
    margin-top: 100px;
    text-align: center;
}
.error-tips h1 {
    font-size: 100px;
    line-height: 100px;
    color: #009688;
}
.error-tips .layui-text .layui-anim {
    display: inline-block;
}
.error-icon {
    display: inline-block;
    font-size: 300px;
    color: #393D49;
}
.error-text {
    width: 500px;
    margin: 30px auto;
    padding-top: 20px;
    border-top: 5px solid #009688;
    font-size: 16px;
}
/* ERROR */