<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rich.message.mapper.SystemMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.rich.message.entity.SystemMessage">
        <id column="id" property="id" />
        <result column="message" property="message" />
        <result column="content" property="content" />
        <result column="time" property="time" />
        <result column="type" property="type" />
        <result column="business_name" property="businessName" />
        <result column="business_id" property="businessId" />
        <result column="business_page_address" property="businessPageAddress" />
        <result column="edit_page_address" property="editPageAddress" />
        <result column="view_page_address" property="viewPageAddress" />
        <result column="receiver" property="receiver" />
        <result column="deliver" property="deliver" />
        <result column="level" property="level" />
        <result column="state" property="state" />
        <result column="del_flag" property="delFlag" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modifier" property="modifier" />
        <result column="modifier_time" property="modifierTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, message, content, time, type, business_name, business_id, business_page_address, edit_page_address, view_page_address, receiver, deliver, level, state, del_flag, creator, create_time, modifier, modifier_time
    </sql>

</mapper>
