<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rich OAuth2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <th:block th:replace="fragments/css/css-import::core-css"/>
</head>
<body class="layui-layout-body">
<div class="authorize">
  <div class="authorize-main">
    <div class="layui-card">
      <div class="layui-card-body authorize-content">
        <h3>授权失败</h3>
        <hr/>
        <p>请重试</p>
        <div class="error-again">
          <a th:href="@{/login}" class="layui-btn layui-btn-fluid layui-btn-normal">返回登录界面</a>
        </div>
      </div>
    </div>
    <th:block th:replace="common/footer"/>
  </div>
</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
</html>