<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rich OAuth2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
</head>
<body>
<div class="layui-layout-body">
    <div class="rich-header">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item layui-this"><a href="#">首页</a></li>
            <li class="layui-nav-item"><a href="#">个人信息</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">基础信息管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">字典管理</a></dd>
                    <dd><a href="#">行政区划管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">资源管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">角色管理</a></dd>
                    <dd><a href="#">接口权限管理</a></dd>
                    <dd><a href="#">菜单管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">OAuth2管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">客户端管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/rich/index.js}"></script>
</html>