<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rich OAuth2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
</head>
<body>
<div class="layui-layout-body">
    <div class="user-login user-display-show ">
        <div class="user-login-main">
            <div class="user-login-box user-login-header">
                <h2>Rich OAuth2</h2>
                <p>统一身份认证</p>
            </div>
            <div class="user-login-box user-login-body">
                <div th:if="${param.error}" class="alert bg-red alert-dismissible" id="login_error">
                    <blockquote class="user-login-error layui-bg-red">无效的用户名或密码<i onclick="closeError()" class="layui-icon layui-icon-close user-login-error-close"></i></blockquote>
                </div>
                <form id="sign_in" class="layui-form" method="POST" th:action="${loginProcessUrl}">
                    <div class="layui-form-item">
                        <label class="user-login-icon layui-icon layui-icon-username" for="username"></label>
                        <input type="text" name="username" id="username" lay-verify="username" placeholder="用户名" class="layui-input" autofocus>
                    </div>
                    <div class="layui-form-item">
                        <label class="user-login-icon layui-icon layui-icon-password" for="password"></label>
                        <input type="password" name="password" id="password" lay-verify="password" placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item" style="margin-bottom: 20px;">
                        <input type="checkbox" name="remember-me" id="remember-me" lay-skin="primary" title="记住密码"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>记住密码</span><i class="layui-icon layui-icon-ok"></i></div>
                        <a lay-href="#" class="user-jump-change user-link" style="margin-top: 7px;">忘记密码？</a>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit>登 入</button>
                    </div>

                    <div class="layui-trans layui-form-item user-login-other">
                        <a lay-href="#" class="user-jump-change user-link">注册帐号</a>
                    </div>
                </form>
            </div>
        </div>
        <th:block th:replace="common/footer"/>
    </div>
</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/rich/login.js}"></script>
</html>