<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rich.base.mapper.SystemLoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.rich.base.entity.SystemLoginLog">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="login_time" property="loginTime" />
        <result column="login_type" property="loginType" />
        <result column="operation_type" property="operationType" />
        <result column="login_ip" property="loginIp" />
        <result column="user_agent" property="userAgent" />
        <result column="request_method" property="requestMethod" />
        <result column="del_flag" property="delFlag" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modifier" property="modifier" />
        <result column="modifier_time" property="modifierTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, login_time, login_type, operation_type, login_ip, user_agent, request_method, del_flag, creator, create_time, modifier, modifier_time
    </sql>

</mapper>
