<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rich.base.mapper.SystemMenuResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.rich.base.entity.SystemMenuResource">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="title" property="title" />
        <result column="icon" property="icon" />
        <result column="route_name" property="routeName" />
        <result column="breadcrumb" property="breadcrumb" />
        <result column="component_name" property="componentName" />
        <result column="component_path" property="componentPath" />
        <result column="path" property="path" />
        <result column="redirect_path" property="redirectPath" />
        <result column="keep_alive" property="keepAlive" />
        <result column="sort" property="sort" />
        <result column="permission_type" property="permissionType" />
        <result column="permission" property="permission" />
        <result column="del_flag" property="delFlag" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modifier" property="modifier" />
        <result column="modifier_time" property="modifierTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, title, icon, route_name, breadcrumb, component_name, component_path, path, redirect_path, keep_alive, sort, permission_type, permission, del_flag, creator, create_time, modifier, modifier_time
    </sql>

</mapper>
