<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rich.base.mapper.SystemRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.rich.base.entity.SystemRoleMenu">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="role_code" property="roleCode" />
        <result column="menu_code" property="menuCode" />
        <result column="client" property="client" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, role_code, menu_code, client
    </sql>

</mapper>
