<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rich.base.mapper.SystemMenuResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.rich.base.entity.SystemMenuResource">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="title" property="title" />
        <result column="icon" property="icon" />
        <result column="visitType" property="visitType" />
        <result column="routeName" property="routeName" />
        <result column="sort" property="sort" />
        <result column="permissionType" property="permissionType" />
        <result column="permission" property="permission" />
        <result column="del_flag" property="delFlag" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modifier" property="modifier" />
        <result column="modifier_time" property="modifierTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, title, icon, visitType, routeName, cache, componentName, sort, permissionType, permission, del_flag, creator, create_time, modifier, modifier_time
    </sql>

</mapper>
